name: Deploy to fly.io

on:
    push:
        branches:
          - '**'
        paths:
          - '**'
jobs:
    deploy:
        name: Deploy API
        runs-on: ubuntu-latest

        concurrency:
            group: 'deploy-api'
            cancel-in-progress: true

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Fly.io CLI
              uses: superfly/flyctl-actions/setup-flyctl@v1
              
            - name: Deploy to Fly.io
              env:
                  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
              run: |
                flyctl deploy --config ./api/fly.toml --remote-only
